#userForm span {
    margin-left: 20px;
    font-size: 18px;
}

p {
    margin-bottom: 50px;
    margin-left: 30px;
    font-size: 20px;
}

#left{
    width:13%;
    height: 200px;
    float:left;
    margin-left: 20px;
}

label{
    margin-left: 10px;
}

#right{
    width:82%;
    height: 400px;
    float:right;
    margin-top: 20px;
}