/* 全局样式 */
.none{
    display: none;
}

.video-box{
    /*margin: 0 auto;*/
    min-width: 640px;
    max-width: 1080px;
}

.video-box video{
    width: 100%;
}

.content-box{
    margin: 0 auto;
    min-width: 500px;
    max-width: 600px;
}

.videoMsg{
    font-size: 16px;
    color: #1b6d85;
}